<div class="d-flex flex-column flex-shrink-0 p-3" style=" margin-left: 50px; border-left: 1px solid rgb(172, 160, 160);">
    <a href="/" class="mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none " style="padding: 10px;">
      <span class="fs-6 " style="color: rgb(172, 160, 160);">Актуальные версии</span>
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          Minecraft PE 1.20
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          Minecraft PE 1.20
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          Minecraft PE 1.20
        </a>
      </li>
    </ul>
  </div>